[Desktop Entry]
Name=Netscape3
Name[pl]=Netscape3
Comment=Netscape browser
Comment[pl]=Przeglądarka WWW Netscape
Exec=netscape3
Icon=netscape3
Terminal=false
Type=Application
# vi: encoding=utf-8
